<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
*   @file    plugin.xml
*   @version 3.0.0
*
*   @brief   AUTOSAR Resource_TS_T40D34M30I0R0 - Tresos Studio plugin configuration file.
*   @details This file contains the configuration for and Resource Tresos Studio plugin.
-->
<!--
====================================================================================================
*   Project              : RTD AUTOSAR 4.7
*   Platform             : CORTEXM
*   Peripheral           : S32K3XX
*   Dependencies         : none
*
*   Autosar Version      : 4.7.0
*   Autosar Revision     : ASR_REL_4_7_REV_0000
*   Autosar Conf.Variant :
*   SW Version           : 3.0.0
*   Build Version        : S32K3_RTD_3_0_0_D2303_ASR_REL_4_7_REV_0000_20230331
*
*   Copyright 2020 - 2023 NXP Semiconductors
*   NXP Confidential. This software is owned or controlled by NXP and may only be  used strictly in accordance with the applicable license terms.  By expressly  accepting such terms or by downloading, installing, activating and/or otherwise  using the software, you are agreeing that you have read, and that you agree to  comply with and are bound by, such license terms.  If you do not agree to be  bound by the applicable license terms, then you may not retain, install, activate or otherwise use the software.
====================================================================================================
====================================================================================================
====================================================================================================
-->

<plugin>
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Resource_TS_T40D34M30I0R0_ModuleId"
             name="Resource_TS_T40D34M30I0R0 Module">

    <module id="Resource_TS_T40D34M30I0R0"
            label="Resource"
            mandatory="true"
            allowMultiple="false"
            description="Resource BSW module"
            copyright="Copyright 2020 - 2023 NXP Semiconductors"
            swVersionMajor="3"
            swVersionMinor="0"
            swVersionPatch="0"
            swVersionSuffix="D2303"
            specVersionMajor="4"
            specVersionMinor="7"
            specVersionPatch="0"
            specVersionSuffix="Rev_0000"
            relVersionPrefix="AUTOSAR"
            relVersionMajor="4"
            relVersionMinor="7"
            relVersionPatch="0"
            relVersionSuffix="0000"
            categoryType="Resource"
            categoryLayer="MCAL"
            categoryCategory="EB"
            categoryComponent="ECUC">
      <ecuType target="CORTEXM" derivate="S32K3XX"/>

    </module>
    </extension>
   
  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Resource_TS_T40D34M30I0R0_ConfigId"
             name="Resource_TS_T40D34M30I0R0 Configuration">
    <configuration moduleId="Resource_TS_T40D34M30I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
          <!-- register the main xdm configuration schema for Resource -->
          <resource value="config/Resource.xdm" type="xdm"/>

      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_T40D34M30I0R0/Resource"/>
      </data>

      <editor id="Resource_TS_T40D34M30I0R0_EditorId"
              label="Default"
              tooltip="Resource BSW module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_T40D34M30I0R0/Resource"/>
          <parameter name="title" value="Resource"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

 <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="EPCGenerator"
             name="EPC Generator">
  <generator moduleId="Resource_TS_T40D34M30I0R0"
               id="Resource_TS_T40D34M30I0R0"
               class="dreisoft.tresos.autosar2.generator.EPCFileGenerator">
   
  <parameter name="allVariants" value="false"/>
  <parameter name="cfgFilePath" value="output"/>
  <parameter name="generateAllModules" value="false"/>
  <parameter name="generateIntoOneFile" value="false"/>
  <parameter name="contentType" value="asc:4.7.0"/>
  </generator>
 </extension>
  
 <extension point="dreisoft.tresos.generator.api.plugin.generator" id="Resource_TS_T40D34M30I0R0_NGGeneratorId">
          <generator moduleId="Resource_TS_T40D34M30I0R0"
                     class="dreisoft.tresos.generator.ng.api.NGGenerator"
                     id="Resource_TS_T40D34M30I0R0_UniqueNGGeneratorId"
                     modes="generate,generate_PC,generate_PB,verify"
                     step="post"> <!-- run after code-generation -->
              <parameter name="buildfile" value="ant_generator.xml"/>
           <parameter name="variantAware" value="true"/>
          </generator>
  </extension>
      <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Resource_TS_T40D34M30I0R0_GeneratorId"
              name="Resource_TS_T40D34M30I0R0 Generator">
    <generator moduleId="Resource_TS_T40D34M30I0R0"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
  
    <parameter name="variantAware" value="true"/>
    <!-- swcd modes and template path parameters -->
    <parameter name="mode_type" mode="generate_swcd" value="generate"></parameter>
    <parameter name="mode_type" mode="verify_swcd" value="verify"></parameter>
    <parameter name="templates" mode="generate_swcd,verify_swcd" value="generate_swcd"></parameter>   

      <!-- common template path parameters -->
      <parameter name="templates" mode="generate,verify" value="generate"/>
    </generator>
  </extension>
 
  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k358_mqfp172.properties">
      <parameter name="subderivative" value="s32k358_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k358_mapbga289.properties">
      <parameter name="subderivative" value="s32k358_mapbga289"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k328_mqfp172.properties">
      <parameter name="subderivative" value="s32k328_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k328_mapbga289.properties">
      <parameter name="subderivative" value="s32k328_mapbga289"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k338_mqfp172.properties">
      <parameter name="subderivative" value="s32k338_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k338_mapbga289.properties">
      <parameter name="subderivative" value="s32k338_mapbga289"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k348_mqfp172.properties">
      <parameter name="subderivative" value="s32k348_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k348_mapbga289.properties">
      <parameter name="subderivative" value="s32k348_mapbga289"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k396_mapbga289.properties">
      <parameter name="subderivative" value="s32k396_mapbga289"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k311_mqfp100.properties">
      <parameter name="subderivative" value="s32k311_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k311_lqfp48.properties">
      <parameter name="subderivative" value="s32k311_lqfp48"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32m276_lqfp64.properties">
      <parameter name="subderivative" value="s32m276_lqfp64"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k344_mqfp172.properties">
      <parameter name="subderivative" value="s32k344_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k344_mapbga257.properties">
      <parameter name="subderivative" value="s32k344_mapbga257"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k324_mqfp172.properties">
      <parameter name="subderivative" value="s32k324_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k324_mapbga257.properties">
      <parameter name="subderivative" value="s32k324_mapbga257"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k314_mqfp172.properties">
      <parameter name="subderivative" value="s32k314_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k314_mapbga257.properties">
      <parameter name="subderivative" value="s32k314_mapbga257"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k312_mqfp100.properties">
      <parameter name="subderivative" value="s32k312_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k312_mqfp172.properties">
      <parameter name="subderivative" value="s32k312_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k342_mqfp100.properties">
      <parameter name="subderivative" value="s32k342_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k342_mqfp172.properties">
      <parameter name="subderivative" value="s32k342_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k322_mqfp100.properties">
      <parameter name="subderivative" value="s32k322_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k322_mqfp172.properties">
      <parameter name="subderivative" value="s32k322_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k341_mqfp100.properties">
      <parameter name="subderivative" value="s32k341_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k341_mqfp172.properties">
      <parameter name="subderivative" value="s32k341_mqfp172"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k310_lqfp48.properties">
      <parameter name="subderivative" value="s32k310_lqfp48"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k310_mqfp100.properties">
      <parameter name="subderivative" value="s32k310_mqfp100"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32m274_lqfp64.properties">
      <parameter name="subderivative" value="s32m274_lqfp64"/>
    </ecuresource>
    <ecuresource
      target="CORTEXM"
      derivate="S32K3XX"
      moduleId="Resource_TS_T40D34M30I0R0"
      file="resource/CORTEXM_S32K3XX_s32k394_mapbga289.properties">
      <parameter name="subderivative" value="s32k394_mapbga289"/>
    </ecuresource>
  </extension>

  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresourcefinder">
    <ecuresourcefinder>
      <finder class="dreisoft.tresos.autosar2.api.ecuresource.DefaultEcuResourceFinder">
        <parameter name="name" value="subderivative"/>
        <parameter name="path" value="ASPath:/TS_T40D34M30I0R0/Resource/ResourceGeneral/ResourceSubderivative"/>
      </finder>
    </ecuresourcefinder>
  </extension>

  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true"/>
    <toc file="$nl$/Resource/toc.xml" primary="false"/>
    <!-- toc file="$nl$/ReleaseNotes/toc.xml" primary="false"/ !-->
  </extension>
</plugin>
